<!DOCTYPE html>
<html>
<head>
  <title>Podu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- Notice for when a user signs in or out success or !success-->
<!-- Depends when to show the alert --> 

<% if alert %>
  <p class="alert">
    <%= alert %>
  </p>
<% elsif notice %>  
  <p class="notice">
    <%= notice %>
  </p>
<% end %>

<%= yield %>

</body>
</html>
